[submodule "transaction-processors"]
	path = transaction-processors
	url = git@github.com:herpiko/sawtooth-evote-transaction-processor.git
[submodule "client"]
	path = client
	url = git@github.com:herpiko/sawtooth-evote-submitter.git
